package web

templ ShowAccessible() {
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Accessible</title>
      <link href="/css/accessible.css" rel="stylesheet">
    </head>
    <body>
      <a href="/restricted" class="link">Account</a>
    </body>
  </html>
}
